@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    Font-size: 1vw !important;
    background-color: hsl(233, 47%, 7%);
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 3vw;
    padding: 4vw 3vw 4vw 6vw;
    border-radius: 5px 0 0 5px;
    background: hsl(244, 38%, 16%);
}

.heading,
.content_text,
.counting {
    font-family: Inter;
}

.heading {
    margin-top: 0;
    text-wrap: wrap;
    font-size: 2.5vw !important;
    font-weight: 700;
    letter-spacing: 1.1px;
    line-height: 1.2;
    color: hsl(0, 0%, 100%);
}

span {
    color: hsl(277, 64%, 61%)
}

.content_text {
    width: 35vw;
    padding: 0 9vw 0 0;
    font-size: 1.02vw !important;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.9;
    color: hsla(0, 0%, 100%, 0.75);
}

.business_details {
    display: flex;
    flex-wrap: wrap;
    gap: 4.5vw;
}

.counting {
    margin: 1vw 0;
    font-size: 1.7vw;
    letter-spacing: 1px;
    color: hsl(0, 0%, 100%);
}

.unit {
    margin: 0;
    text-transform: uppercase;
    font-family: Lexend Deca;
    font-weight: 400;
    font-size: 0.95vw;
    letter-spacing: 0.4px;
    color: hsla(0, 0%, 100%, 0.6);
}

/* Image section */
.image {
    position: relative;
    width: 40vw;
    height: 70vh;
    background: url(./images/image-header-desktop.jpg) no-repeat center/cover;
    border-radius: 0 5px 5px 0;
}

.image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    background-color: hsl(277, 64%, 61%);
}

.attribution {
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 1vw;
    font-family: Inter;
    font-size: 1vw;
    color: #fff;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 870px) {

    .content,
    .image {
        height: 50vh;
    }

    .content_text {
        width: 38vw;
        font-size: 1.03vw !important;
    }

    .attribution {
        bottom: 6vw;
        font-size: 1.3vw;
    }

    @media (max-width: 660px) {

        .content,
        .image {
            width: 45vw;
            height: 40vh;
        }

        .attribution {
            bottom: 8vw;
            font-size: 1.4vw;
        }
    }

    @media (max-width: 450px) {

        .content,
        .image {
            width: 47vw;
            height: 27vh;
        }

        .attribution {
            bottom: 20vw;
        }
    }

    @media (max-width: 325px) {
        .image {
            background: url(./images/image-header-mobile.jpg) no-repeat center/cover;
            width: 85vw;
            height: 35vh;
            border-radius: 5px 5px 0 0;

        }

        .main-content {
            height: 130vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column-reverse;
        }

        .content_text {
            width: auto;
            font-size: 3.3vw !important;
            font-weight: 300;
            padding: 0 11vw;
        }

        .heading {
            font-size: 6vw !important;
            padding: 0 9vw;
        }

        .content {
            width: 85vw;
            height: 70vh;
            padding: 0;
            text-align: center;
            border-radius: 0 0 5px 5px;
        }

        .business_details {
            flex-direction: column;
            gap: 5.1vw;
            margin-top: -20px;
        }

        .counting {
            font-size: 5vw;
            margin: 1.5vw 0;
        }

        .unit {
            font-size: 3vw !important;
        }

        .attribution {
            position: absolute;
            bottom: -48vw;
            font-size: 2.4vw;
        }
    }
}